input {
    @apply w-full px-4 py-2 rounded;
    background: rgba(255,255,255,0.12);
    border: 1px solid var(--border-color);
    color: var(--text-main);
    transition: 0.25s;
}

[data-theme="dark"] input {
    background: rgba(255,255,255,0.05);
}

input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary-glow);
}