@import "./base/variables.css";
@import "./base/resets.css";
@import "./base/typography.css";

@import "./theme/light.css";
@import "./theme/dark.css";

@import "./effects/neon.css";
@import "./effects/animations.css";
@import "./effects/hitech-bg.css";

@import "./components/buttons.css";
@import "./components/inputs.css";
@import "./components/cards.css";
@import "./components/layout.css";
@import "./components/auth.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}